.form {
  background: #0b3954;
  color: #bfd7ea;
  width: 10%;
  font-size: 1.6rem;
  padding: 1%;
  border-radius: 10px;
  .info {
    .centeredColumn();
  }
  input {
    background: #fff;
  }
  button {
    background: #ed9390;
    color: #0b3954;
    border: 1px solid #70161e;
    border-radius: 10px;
  }
}
