html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.form {
  background: #0b3954;
  color: #bfd7ea;
  width: 10%;
  font-size: 1.6rem;
  padding: 1%;
  border-radius: 10px;
}
.form .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .inputHolder {
  border-bottom: 1px solid #70161e;
}
.form input {
  background: #0b3954;
  border: none;
  outline: none;
  margin-bottom: 2%;
  width: 100%;
  color: #bfd7ea;
}
.form button {
  background: #ed9390;
  color: #0b3954;
  border: 1px solid #70161e;
  border-radius: 10px;
  width: 100%;
}
.head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: pink;
}
.head h1 {
  font-size: 2.6rem;
  width: 25%;
  text-align: center;
  border: solid black 1px;
}
.head nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
}
.head nav a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
