*{
  border: 1px solid blueviolet;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.head{
 display: flex;
 flex-direction: column;
 align-items: inherit;
}

.head nav{
    display: flex;
    justify-content: space-evenly; 
}

.head nav a{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 35%;
  padding-left: 4px;
  padding-right: 4px;
  background: tan;
  font-weight: bolder;
}

.head h1{
  text-align: center;
}

img{
  height: 30vh;
  margin:2rem;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    background: tan;
    padding:2rem;
}

.foot nav a{
  color:black;
  text-decoration:none;
  font-weight:bolder;
  border: 2px solid black;
  border-radius: 35%;
  background:rgb(230, 211, 211);
}